venv/
.idea/
tests/__pycache__/
__pycache__/
.tox/
.egg-info/
beer_me_setup_tools.egg-info/
beer_me/*.pyc

build/
dist/beer_me_setup_tools-0.0.1-py3.6.egg dist/beer_me_setup_tools-0.0.1.tar.gz
tests/__init__.pyc
dist/beer_me_setup_tools-0.0.1-py3.6.egg
*.pyc
